.DS_Store

__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
htmlcov/

.venv/
venv/
env/
ENV/
lab1/.venv/
lab2/.venv/
project/.venv/
.env

.vscode/
.idea/

*.sqlite3
local_settings.py
db.sqlite3
media/
staticfiles/

